#map {
    width: 90%;
    height: 450px;
    margin: 0 auto;
    padding: 0;
}

.game, #info{
	margin-top: 20px;
	text-align: center;
}

#but{
	width: 200px;
}

#human, #machin{
	text-align: left;
}

label{
	margin-top: 20px;
}

